.non-dairy-cards {
  column-count: 5;
  column-gap: 5em;
  padding: 10px;
  margin-left: auto;
  margin-right: 350px;
}

@media screen and (max-width: 2000px) {
  .non-dairy-cards {
    column-count: 4;
  }
}

@media screen and (max-width: 1600px) {
  .non-dairy-cards {
    column-count: 3;
  }
}

@media screen and (max-width: 1200px) {
  .non-dairy-cards {
    column-count: 2;
  }
}

.non-dairy-option-card {
  background-color: white;
  display: inline-block;
  width: 100%;
  border: #000000 solid 5px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  /* box-shadow: 10px 10px black */
}

/* .non-dairy-card-main {
  background-color: white;
  display: inline-block;
  width: 100%;
  border: #000000 solid 5px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
} */

.filters {
  margin-left: 100px;
  padding-right: 250px;
  margin-right: auto;
}

.board-card {
  text-align: center;
  border: #000000 solid 5px;
  padding: 5px;
  width: 800px;
  height: auto;
  display: inline-grid;
  margin: 25px;
  box-shadow: 10px 10px #df7ac0, -10px -10px #000000;
  background-color: white;
}

.non-dairy-option-card img {
  /* width: 100px;
  height: auto; */
  width: auto;
  height: 200px;
}

.login-errors, .form-errors {
  color: red
}

.non-dairy-option-main-info, .profile-page-containers {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
}

.non-dairy-personalized-notes, .profile-boards-favorites {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /* justify-content: center; */
}

.profile-boards-displays {
  border: #df7ac0 solid 10px;
  border-radius: 3em;
  padding: 10px;
  width: 750px;
  height: auto;
}

.profile-board-card, .profile-favorite-card {
  text-align: center;
  border: #000000 solid 5px;
  padding: 5px;
  width: 250px;
  height: auto;
  display: inline-grid;
  margin: 25px;
  box-shadow: 10px 10px #df7ac0, -10px -10px #000000;
  background-color: white;
}

.profile-favorite-card-info img {
  height: 75px;
  width: auto;
}

.non-dairy-card-displays {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  /* justify-content: center; */
}

.filters {
  padding-left: 50px;
  width: auto;
}

.login-page {
  text-align: center;
}

#avatar-picture, #login-logo {
  width: 300px;
  height: auto;
}

#login-logo {
  position: absolute;
  right: 100px;
  bottom: 10px;
}

.camooflage-title {
  padding:100px 5px 100px 5px;
  /* padding-top: 100px; */
  font-size: 50pt;
  font-weight: 750;
  letter-spacing: 0.25em;
}

.moo {
  color: white;
  background-color: black;
  padding-left: 15px;
  margin-right: 10px;
}

.login-button, .sign-up-button {
  background-color: rgb(233, 147, 197);
  padding: 10px;
  width: 150px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-color: black;
  border-radius: 25px;
  font-size: 15px;
  font-style: bold;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-weight: 600;
}

.login-button:hover, .sign-up-button:hover{
  background-color: #c44392;
  cursor:pointer;
}

.login-form-container {
  width: 382px;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 80px;  
  background: #23463f;  
  border-radius: 15px ; 
}

.login-form input {
  width: 300px;
  padding:15px;
  margin:5px;
  border-radius:1px;
  border:1px solid #ccc;
  font-family:inherit;
}

.login-title, .sign-up {
  /* text-transform: uppercase; */
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.view-non-dairy-page-button, .add-to-board-button, .view-board-button, .edit-board-button, .add-more-options-button, .delete-board-button, .edit-button, .delete-button {
  background-color: rgb(233, 147, 197);
  padding: 10px;
  width: 150px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-weight: 600;
}

.edit-board-buttons {
  background-color: white;
  color: black;
  border: solid 2px black;
  padding: 10px;
  width: 150px;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-weight: 500;
}

.edit-board-buttons:hover, .delete-button:hover {
  background-color: black;
  color: white;
  border-color: black;
  cursor: pointer;
}

.view-non-dairy-page-button:hover, .add-to-board-button:hover, .view-board-button:hover, .edit-board-button:hover, .add-more-options-button:hover, .delete-board-button:hover {
  background-color: #c44392;
  cursor: pointer;
  border-color: black;
}

.edit-button:hover, .move-option-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-color: black;
}

.navbar {
  /* background-color: #df7ac0; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-displays > div {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar-logo, .home-button, .my-boards-button {
  /* float: left;
  display: block; */
  color: white;
  text-align: center;
  padding: 6px 10px;
  /* margin-top: 8px; */
  margin-right: 16px;
  text-decoration: none;
}

.my-boards-button {
  margin-right: auto;
}

.navbar input {
  /* float: right; */
  width: 300px;
  padding: 6px 10px;
  /* margin-left: auto; */
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: solid 2px black;
  border-radius: 25px;
  height: 25px;
  text-transform: uppercase;
  font-size: 15px;
}

.add-new-board-button {
  background-color: black;
  padding: 10px;
  width: 200px;
  color: white;
  text-transform: uppercase;
  /* margin-bottom: 20px;
  margin-top: 40px; */
  border: solid 2px white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
}

.add-new-board-button:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.navbar input:focus {
  outline: none;
}

.navbar-displays button:hover:not(.active) {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.home-button, .my-boards-button, .my-profile-button, .log-out-button, .back-to-boards-button, .move-option-button, .back-to-all-options-button {
  background-color: black;
  padding: 10px;
  width: 150px;
  color: white;
  text-transform: uppercase;
  /* margin-bottom: 20px;
  margin-top: 40px; */
  border: solid 2px white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
}

.back-to-all-options-button {
  width: 225px;
}

.move-option-button {
  font-weight: normal;
  font-size: 13px;
}

.add-favorite-button {
  background-color: white;
  padding: 10px;
  width: 150px;
  color: rgb(207, 30, 113);
  text-transform: uppercase;
  border: solid 2px rgb(207, 30, 113);
  border-radius: 25px;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
}

.add-favorite-button:hover {
  cursor: pointer;
  background-color: rgb(207, 30, 113);
  color: white;
}

.favorite-button {
  background-color: rgb(207, 30, 113);
  padding: 10px;
  width: 40px;
  color: white;
  text-transform: uppercase;
  border: solid 2px rgb(207, 30, 113);
  border-radius: 25px;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
}

.back-to-boards-button {
  width: 200px;
}

.back-to-boards-button:hover, .back-to-all-options-button:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.log-out-button, .navbar input {
  margin-left: 15px;
}

.active {
  background-color: rgb(233, 147, 197);
  color: black;
}

.board-non-dairy-option {
  background-color: white;
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 10px 50px 10px 10px;
  /* box-shadow: 10px 10px black */
}

.board-page-non-dairy-option {
  display: flex;
  /* justify-content: center;
  align-content: center; */

  column-count: 5;
  column-gap: 5em;
  padding: 10px;
  margin-left: auto;
  margin-right: 350px;
}

.board-page-non-dairy-options {
  display: flex;
  flex-flow: column;

  /* justify-content: center; */
  /* align-content: center; */
}

.board-select {
  border: solid 1px black;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

