.app {
  text-align: center;
}

/* .logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.non-dairy-option-card {
  text-align: center;
  border: #000000 solid 5px;
  padding: 5px;
  width: 400px;
  height: auto;
  display: inline-grid;
  margin: 25px;
  box-shadow: 10px 10px #df7ac0, -10px -10px #000000;
  background-color: white;
}

.board-card {
  text-align: center;
  border: #000000 solid 5px;
  padding: 5px;
  width: 800px;
  height: auto;
  display: inline-grid;
  margin: 25px;
  box-shadow: 10px 10px #df7ac0, -10px -10px #000000;
  background-color: white;
}

.non-dairy-option-card img {
  width: 100px;
  height: auto;
}

.login-errors, .form-errors {
  color: red
}

.non-dairy-option-main-info {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
}

.non-dairy-personalized-notes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /* justify-content: center; */
}
