.non-dairy-card-container {
  background-image: url('https://i.imgur.com/GYeTo4c.png');
    /* height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

@font-face {
  font-family: 'chalk dash';
  src: url('https://www.dafont.com/chalk-dash.font?fpp=200')
}

@font-face {
  font-family: 'handwriting';
  src: url('https://www.dafont.com/handwriting-3.font');
}

p {
  font-family: 'handwriting';
  font-size: 30px;
}

.big-p-tag {
  font-family: 'handwriting';
  font-size: 40px;
}

h1 {
  font-family: 'chalk dash';
  font-size: 80px;
  font-weight: normal;
}

h2 {
  font-family: 'chalk dash';
  font-size: 50px;
  font-weight: normal;
}

.no-margin-h2 {
  font-family: 'chalk dash';
  font-size: 50px;
  font-weight: normal;
  margin: 0px;
}

.smaller-h1 {
  font-size: 65px;
}

/* h3 {
  font-family: 'chalk dash';
  font-size: 30px;
  font-weight: normal;
} */

h3 {
  font-family: 'handwriting';
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-family: 'handwriting';
  font-size: 30px;
  font-weight: bold;
}

.non-dairy-cards {
  column-count: 5;
  column-gap: 5em;
  padding: 10px;
  margin-left: auto;
  margin-right: 350px;
}

@media screen and (max-width: 2100px) {
  .non-dairy-cards {
    column-count: 4;
  }
}

@media screen and (max-width: 1700px) {
  .non-dairy-cards {
    column-count: 3;
  }
}

@media screen and (max-width: 1300px) {
  .non-dairy-cards {
    column-count: 2;
  }
}

.non-dairy-option-card {
  background-color: white;
  display: inline-block;
  width: 100%;
  border: #000000 solid 10px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  /* box-shadow: 10px 10px black */
}

/* .non-dairy-card-main {
  background-color: white;
  display: inline-block;
  width: 100%;
  border: #000000 solid 5px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
} */

.filters {
  margin-left: 50px;
  /* padding-right: 100px; */
  flex: 0 0 355px;
}

.filter-checkbox, .profile-info {
  text-align: left;
  width: 350px;
  text-transform: capitalize;
  font-family: 'handwriting';
  font-size: 24px;
  padding: 2px;
}

.delete-board-options label {
  text-align: left;
  width: 350px;
  /* text-transform: capitalize; */
  font-family: 'handwriting';
  font-size: 24px;
  padding: 2px;
}

.profile-info {
  margin-left: 250px;
  margin-right: 100px;
}

.board-cards {
  max-width: 1080px;
  margin: 0 auto;
}

.board-card {
  text-align: center;
  border: #000000 solid 10px;
  padding: 5px;
  /* width: 700px; */
  height: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  box-shadow: #c44392 10px 10px, rgba(240, 46, 170, 0.4) 10px 10px, rgba(240, 46, 170, 0.3) 20px 20px, rgba(240, 46, 170, 0.2) 30px 30px, rgba(240, 46, 170, 0.1) 40px 40px, rgba(240, 46, 170, 0.05) 50px 50px;
  background-color: white;
  border-radius: 100px;
}

.non-dairy-option-card img {
  /* width: 100px;
  height: auto; */
  width: auto;
  height: 200px;
}

.login-errors, .form-errors {
  color: red
}

.non-dairy-option-main-info {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
}

.profile-page-containers {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

/** Non Dairy Option Page ------------------ */

/* .non-dairy-option-page {
  display: flex;
  flex-flow: column nowrap;
} */

.non-dairy-option-page-main-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto auto;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.non-dairy-page-option-info {
  /* grid-column: 1 / 2;
  grid-row: 1 / 3; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  padding: 0px 50px 0px 50px;
  /* margin: 0px 50px; */
  height: fit-content;
  align-content: center;
}

#main-product-pic {
  align-self: center;
}

.description {
  text-align: left;
  width: 560px;
}

.text-info {
  margin-bottom: 35px;
}

#description {
  margin-top: 100px;
}

.non-dairy-personalized-notes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product-title-info {
  margin: 10px 0px;
}

.recommendations {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 25px;
  margin: 0px 25px 0px 25px;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; */
  /* margin: 0px 50px 10px 50px; */
  /* padding-bottom: 10px; */
  width: 80%;
  /* border: #df7ac0 5px solid;
  border-radius: 25px; */
}

.recommendations p {
  text-align: left;
}

.product-link {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  /* padding: 20px 50px 20px 50px;
  margin: 0px 50px; */
  padding: 25px;
  margin: 0px 25px 0px 25px;
  width: 75%;
  /* border: #df7ac0 5px solid;
  border-radius: 25px; */
}

.product-link-span {
  color: #df7ac0;
}

.product-link-span:hover {
  cursor: pointer;
  color: #c44392;
}

/** xxx ------------------ */

.profile-boards-favorites {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /* justify-content: center; */
}

.profile-boards-displays {
  /* border: #df7ac0 solid 10px; */
  display: flex;
  flex-wrap: wrap;
  border-radius: 3em;
  padding: 10px;
  width: 750px;
  height: auto;
}

.profile-board-card {
  text-align: center;
  border: #000000 solid 10px;
  padding: 5px;
  width: 250px;
  height: auto;
  display: inline-grid;
  margin: 25px;
  /* box-shadow: 10px 10px #df7ac0, -10px -10px #000000; */
  box-shadow: #c44392 10px 10px, rgba(240, 46, 170, 0.4) 10px 10px, rgba(240, 46, 170, 0.3) 20px 20px, rgba(240, 46, 170, 0.2) 30px 30px, rgba(240, 46, 170, 0.1) 40px 40px, rgba(240, 46, 170, 0.05) 50px 50px;
  background-color: white;
}

/* .profile-favorite-card {
  text-align: center;
  border: #000000 solid 5px;
  padding: 5px;
  width: 250px;
  height: auto;
  display: inline-grid;
  margin: 25px;
  box-shadow: 10px 10px #df7ac0, -10px -10px #000000;
  background-color: white;
} */

.profile-favorite-card {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 100px auto auto;
  max-width: 1500px; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* .favorite {
  margin-right: 200px
} */

/* .profile-favorite-card-info {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: 20px 75px;
} */

/* .heart-container {
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
  /* padding: 100px 50px 50px 250px;

}  */

.profile-favorite-card-info img {
  height: 200px;
  width: auto;
}

.non-dairy-card-displays {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-around; */
  /* justify-content: center; */
}

.login-page {
  text-align: center;
}

#avatar-picture, #login-logo {
  width: 300px;
  height: auto;
}

#login-logo {
  position: absolute;
  right: 100px;
  bottom: 10px;
}

.camooflage-title {
  padding: 100px 5px 100px 5px;
  /* padding-top: 100px; */
  font-size: 50pt;
  font-weight: 750;
  letter-spacing: 0.25em;
  font-family: 'handwriting';
}

.moo {
  color: white;
  background-color: black;
  padding-left: 15px;
  padding-top: 10px;
  margin-left: -8px;
  margin-right: 10px;
  font-family: 'handwriting';
  border-radius: 3px;
}

.login-button, .sign-up-button {
  background-color: rgb(233, 147, 197);
  padding: 10px;
  width: 150px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-color: black;
  border-radius: 25px;
  font-size: 24px;
  /* font-style: bold; */
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-weight: 800;
  /* font-weight: bold; */
  font-family: 'handwriting';
}

.login-button:hover {
  background-color: #c44392;
  cursor:pointer;
}

.sign-up-button:hover {
  background-color: white;
  color: black;
  cursor:pointer;
}

.login-form-container {
  width: 382px;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 80px;  
  background: #23463f;  
  border-radius: 15px ; 
}

.login-form input {
  width: 300px;
  padding:15px;
  margin:5px;
  border-radius:1px;
  border:1px solid #ccc;
  font-family: 'handwriting';
  font-size: 22px;
}

.login-title, .sign-up {
  /* text-transform: uppercase; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif */
  font-family: 'handwriting';
  font-size: 28px;
}

.login-title {
  font-weight: bold;
}

.view-non-dairy-page-button, .add-to-board-button, .view-board-button, .edit-board-button, .add-more-options-button, .delete-board-button, .edit-button, .delete-button, #create-board-button {
  background-color: rgb(233, 147, 197);
  padding: 10px;
  width: 175px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-weight: 600;
  font-family: 'handwriting';
}

.edit-board-buttons, .yes-button, .no-button {
  background-color: white;
  color: black;
  border: solid 2px black;
  padding: 10px;
  width: 175px;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-weight: bold;
  font-family: 'handwriting';
  margin-bottom: 10px;
}

.close-filters-button {
  background-color: white;
  padding: 10px;
  width: 200px;
  color: black;
  text-transform: uppercase;
  /* margin-bottom: 20px;
  margin-top: 40px; */
  border: solid 2px black;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-family: 'handwriting';
}

.edit-board-buttons:hover, .delete-button:hover, .delete-board-button:hover, .close-filters-button:hover, .yes-button:hover {
  background-color: black;
  color: white;
  border-color: black;
  cursor: pointer;
}

.no-button:hover {
  color: white
}

.view-non-dairy-page-button:hover, .add-to-board-button:hover, .view-board-button:hover, .add-more-options-button:hover, #create-board-button:hover, #save-board-changes-button:hover, .no-button:hover {
  background-color: #c44392;
  cursor: pointer;
  border-color: black;
}

.edit-button:hover, .move-option-button:hover, .edit-board-button:hover, .update-profile-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-color: black;
}

.navbar {
  /* background-color: #df7ac0; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-displays > div {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar-logo, .home-button, .my-boards-button {
  /* float: left;
  display: block; */
  color: white;
  text-align: center;
  padding: 6px 10px;
  /* margin-top: 8px; */
  margin-right: 16px;
  text-decoration: none;
}

.my-boards-button {
  margin-right: auto;
}

.navbar input {
  /* float: right; */
  width: 300px;
  padding: 6px 10px;
  /* margin-left: auto; */
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: solid 2px black;
  border-radius: 25px;
  height: 25px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'handwriting';
  font-weight: bold;
}

.add-new-board-button {
  background-color: black;
  padding: 10px;
  width: 200px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  /* margin-top: 40px; */
  border: solid 2px white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-family: 'handwriting';
}

.add-new-board-button:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.navbar input:focus {
  outline: none;
}

.navbar-displays button:hover:not(.active) {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.home-button, .my-boards-button, .my-profile-button, .log-out-button, .back-to-boards-button, .move-option-button, .back-to-all-options-button, .apply-filters-button, .edit-profile-button, .update-profile-button, .back-to-board-button, .sign-up-button {
  background-color: black;
  padding: 10px;
  width: 160px;
  color: white;
  text-transform: uppercase;
  /* margin-bottom: 20px;
  margin-top: 40px; */
  border: solid 2px white;
  border-radius: 25px;
  font-weight: bolder;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-family: 'handwriting';
}

.apply-filters-button, .back-to-board-button {
  width: 200px;
}

.apply-filters-button, .close-filters-button {
  margin-top: 20px;
}

.edit-profile-button, .sign-up-button {
  padding: 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  width: 175px;
}

.update-profile-button {
  width: 200px;
  /* position: absolute; */
  /* left: 365px; */
  margin-top: 10px;
  padding: 12px;
  margin-left: -5px;
  letter-spacing: 1px;
}

.back-to-all-options-button {
  width: 225px;
}

.move-option-button {
  width: 175px;
  font-size: 18px;
  margin-bottom: 5px;
}

.add-favorite-button {
  background-color: white;
  padding: 10px;
  width: 175px;
  color: rgb(207, 30, 113);
  text-transform: uppercase;
  border: solid 2px rgb(207, 30, 113);
  border-radius: 25px;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all .4s;
  font-family: 'handwriting';
  font-weight: bolder;
  margin-top: 10px;
}

.add-favorite-button:hover {
  cursor: pointer;
  background-color: rgb(207, 30, 113);
  color: white;
}

.favorite-button {
  background-color: rgb(207, 30, 113);
  text-align: center;
  padding: 10px 15px;
  color: white;
  border: solid 2px black;
  border-radius: 35px;
  font-size: 24px;
  transition: all .4s;
  margin-top: 10px;

}

.back-to-boards-button {
  width: 200px;
}

.back-to-boards-button:hover, .back-to-all-options-button:hover, .apply-filters-button:hover, .edit-profile-button:hover, .back-to-board-button:hover, .sign-up-button:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.log-out-button, .navbar input {
  margin-left: 15px;
}

.active {
  background-color: rgb(233, 147, 197);
  color: black;
}

.board-non-dairy-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.board-non-dairy-option > .non-dairy-option-card {
  width: 300px;
  border: solid 3px black;
  height: 400px;
}

.board-non-dairy-option > .non-dairy-option-card h4{
  display: none;
}

.board-page-non-dairy-options {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-right: auto;
}

.board-page-non-dairy-options div.non-dairy-option-card {
  align-items: stretch;
  width: 300px;
  margin: 25px;
}

.board-select, .avatar-select {
  border: solid 1px black;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.heart-shape{
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgb(233, 147, 197);
  top: 120px;
  left: 50%;
  box-shadow: 0px 0px 10px 5px white;
}
.heart-shape:before,
.heart-shape:after{
  position: absolute;
  width: 50px;
  height: 50px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(233, 147, 197);
}
.heart-shape:before{
  bottom: 0px;
  left: -25px;
}
.heart-shape:after{
  top: -25px;
  right: 0px;
}

.edit-avatar-button {
  border-color: black;
  text-transform: uppercase;
  /* font-family: "Arial Black", sans-serif; */
  text-align: center;
  /* letter-spacing: 1px; */
  color: black;
  display: flex auto;

  background-size: 200% auto;
  width: 175px;
  border-radius: 25px;
  border-width: 2px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;

  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'handwriting';

  cursor: pointer;
}

.edit-avatar-button:hover {
  transition: 1s;
  background-position: right center; 
}

.icecream-background {
  background-image: linear-gradient(to right, #c44392, #F7DAD9, #FFF5DA, #D6D2C4, #5D534A);
}

/* .icecream-background:hover{
  transition: 2s;
  background-image: linear-gradient(to right, #F7DAD9, #FFF5DA, #D6D2C4, #5D534A);
} */

.edit-profile-form input, .add-new-board-form input, .edit-board-form input, .sign-up-form input  {
  padding: 6px 10px;
  /* margin-right: 16px; */
  background: white;
  font-size: 17px;
  height: 35px;
  width: 200px;
  /* text-transform: uppercase; */
  font-size: 20px;
  font-family: 'handwriting';
  /* font-weight: bold; */
}

.add-new-board-form input, .edit-board-form input  {
  margin: 10px 0px;
  font-size: 22px;
  font-weight: bold;
}

.edit-board-form input {
  margin-bottom: 30px;
}

.add-new-board-form label, .edit-board-form label {
  margin-top: 20px;
}

.edit-profile-form label, .sign-up-form label {
  font-size: 22px;
  font-family: 'handwriting';
  font-weight: bold;
  padding: 5px;
}

.add-new-board-form label, .edit-board-form label {
  font-size: 26px;
  font-family: 'handwriting';
  font-weight: bold;
  padding: 5px;
}

.non-password-profile-input {
  margin-bottom: 30px;
}

#username {
  margin-left: 30px;
  text-transform: lowercase;
}

#allergens {
  padding: 10px;
}

#continue-button, #login-continue-button {
  margin-left: auto;
  margin-right: auto;
}